html {
    background-image: url("./images/wholebg.png");
    background-size: cover;
}

@font-face {
    font-family:"Funhouse-Ke17";
    src: url("./Fonts/Funhouse-Ke17.ttf") format("truetype");
}

@font-face {
    font-family:"Nunito-Regular";
    src: url("./Fonts/Nunito-Regular.ttf") format("truetype");
}

.join-discord-btn {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 43%;
}

.join-discord-btn > img {
    padding: auto;
}

.intro-head, .roadmap-head{
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color: white;
    font-size: 60px;
}

.intro {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width:40%;
}

.content-intro, .roadmap-content {
    font-family: 'Nunito-Regular', Fallback, sans-serif;
    color: white;
}

.benefits-head {
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color: white;
    font-size: 60px;
    margin-top: 20rem;
    margin-left: 8rem;
}

.img {
    padding-left: 20rem;
    flex-grow: 1;
} 

.img1 {
    flex-grow: 1;
    padding-left: 10rem;
} 

.img2 {
    /* flex-grow: 1;    */
    padding-right: 20rem;
} 

.img-benefits > img {
    width: 300px;
    z-index: -1;
    position: relative;
}

.benefits-img {
    display:flex;
    justify-content: center;
    align-items: center;
}

.benefits-content {
    display:flex;
    align-items: center;
    /*\\ width: 700px; */
    font-family: 'Nunito-Regular', Fallback, sans-serif;
    color: white;
    font-size: 15px;
}

.rarity-content{
    font-family: 'Nunito-Regular', Fallback, sans-serif;
    color: white;
    font-size: 15px;
    display:flex;
    align-items: center;
}

.text1 {
    margin-top: -20rem;
    text-align: left;
    padding-left: 150px;
    width: 200px;
}

.text2, .text3 {
    margin-top: -20rem;
    width: 200px;
}

.text2 {
    
    padding-left: 320px;
}

.text3{
    padding-left: 310px;
}
.roadmap-head {
    margin-top: 20rem;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.roadmap-content {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
}   

.roadmap-content > img {
    width: 110px;
}

.timeline-head {
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 20px;
    margin-top: 8rem;
    
}

.timeline-img > img{
    width: 100px;
}

.img1 {
    margin-left: 50px;
    margin-right: 100px;
}

.img2 {
    padding-left: 100px;
}

.road {
    width: 70rem;
    /* margin-top: 50rem; */
    /* left: -20px; */
    /* right:-0px; */
    /* position: relative; */
}

.showcase {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color: white;
    font-size: 60px;
}

.showcase-head{
    margin-top: 2rem;
}

.nft-showcase > img {
    height: 30rem;
    width: 80rem;
}

.rarity-img {
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
color: white;
font-size: 60px;
display:flex;
    justify-content: left;
    align-items: center;
}

.rarity-img > img {
    padding-left: 10rem;
}

.rarity-showcaseimg{
    display:flex;
    align-items: center;
    justify-content: center;
}

.rarity-benefits img{
    max-width: 250px;
}

.rarity-img1{
    position: absolute;
    padding-right: 30px;
}
.rarity-img2{
    position: absolute;
    padding-right: 30px;

}
.rarity-img3{
    position: absolute;
    padding-right: 30px;

}
.rarity-img4{
    position: absolute;
    padding-right: 30px;
}
.rarity1{
    position: absolute;
    padding-right: 30px;

}
.rarity2{
    position: absolute;
    padding-right: 30px;
}
.rarity3{
    position: absolute;
    padding-right: 30px;
}
.rarity4{
    position: absolute;
    padding-right: 30px;
}

.rarity-text1{  
    position: absolute;  
    text-align: center;
    width: 200px;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 20px;
}   

.rarity-text2{  
    position: absolute;  
    text-align: center;
    width: 200px;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 20px;
}   

.rarity-text3{  
    position: absolute;  
    text-align: center;
    width: 200px;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 20px;
}   

.rarity-text4{  
    position: absolute;  
    text-align: center;
    width: 200px;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 20px;
}   

.rarity{
    margin-right: 20rem;
}
.section-head{
    margin-top: 20rem;
    display:flex;
    justify-content: left;
    padding-top: 200px;
    padding-left: 250px;
    align-items: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 55px;
}
.section-content{
    padding-left: 200px;
    padding-right: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family: 'Nunito-Regular', Fallback, sans-serif;
    color: white;
    font-size: 18px;
}
.showcase-img{
    padding-left: 100px;
}

.team-img{
    margin-top: 20rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 55px;
}

.team-content{
    margin-top: 17rem;
    text-align: center;
    width: 200px;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:black;
    font-size: 20px;
}

.team1{
    margin-left: 5rem;
    text-align: left;
    padding-left: 150px;
    width: 200px;
}

.h5{
    font-family: 'Nunito-Regular', Fallback, sans-serif;
    color: black;
    padding-left: 25px;
    font-size: 13px;
}

.team-content2{
    margin-top: -5.5rem;
    margin-left: 20rem;
    text-align: center;
    width: 200px;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:black;
    font-size: 20px;
}

.team-content3{
    margin-top: -5.5rem;
    margin-left: 40rem;
    width: 200px;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:black;
    font-size: 20px;
}

.team-content4{
    margin-top: -5.5rem;
    margin-left: 60rem;
    text-align: center;
    width: 200px;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:black;
    font-size: 20px;
}

.faq-head{
    margin-top: 20rem;
    display:flex;
    justify-content: left;
    padding-left: 700px;
    align-items: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 55px;
}

.faqimg{
    max-width: 1300px;
    padding-left: 100px;
}

.faq-content
{
    margin-top: -38rem;
    margin-left: 27rem;
   position: absolute;
    text-align: left;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 20px;
}

.faq-content2
{
    margin-top: -27rem;
    margin-left: 27rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 20px;
}

.faq-content3
{
    margin-top: -18rem;
    margin-left: 27rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 20px;
}

.faq-content4
{
    margin-top: -8rem;
    margin-left: 27rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white ;
    font-size: 20px;
}

.footer{
    margin-top: 5rem;
}

.footer-text{
    font-family: 'Nunito-Regular', Fallback, sans-serif;
    color: black;
    padding-left: 100px;
    font-size: 20px;
}

.logo-img{
    padding-left: 40px;
    max-width: 300px;
}

.logo-content2  
{
    margin-top: -12rem;
    margin-left: 35rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 17px;
}

.logo-content3  
{
    margin-top: -12rem;
    margin-left: 40rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 17px;
}

.logo-content4  
{
    margin-top: -12rem;
    margin-left: 45rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 17px;
}

.logo-content5  
{
    margin-top: -12rem;
    margin-left: 51rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 17px;
}

.logo-content6  
{
    margin-top: -12rem;
    margin-left: 56rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 17px;
}

.logo-content7 
{
    margin-top: -12rem;
    margin-left: 62rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 17px;
}

.logo-content8  
{
    margin-top: -12rem;
    margin-left: 68rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 17px;
}

.raritytext-content{
    margin-right: 45rem;
    margin-top: 8rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 30px;
}
.raritytext-content2{
    margin-right: 5rem;
    margin-top: 8rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 30px;
}
.raritytext-content3{
    margin-left: 33rem;
    margin-top: 10rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 30px;
}
.raritytext-content4{
    margin-left: 18rem;
    margin-top: -2rem;
   position: absolute;
    text-align: center;
    font-family: 'Funhouse-Ke17', Fallback, sans-serif;
    color:white;
    font-size: 30px;
}
